#title {
  margin: auto;
  text-align: center;
}
#color-palette {
  border: 2px solid red;
  width: 400px;
  height: 100px;
  margin: auto;
}
.color {
  border: 2px solid blue;
  width: 93px;
  height: 95px;
  display: inline-block;
  align-items: center;
}

#button-random-color {
  position: absolute;
  left: 570px;
}