body {
  text-align: center;
}

#title {
  margin: auto;
  text-align: center;
}

#color-palette {
  width: 400px;
  height: 100px;
  margin: auto;
}

.color {
  border: 1px solid black;
  width: 93px;
  height: 95px;
  display: inline-block;
  align-items: center;
  border-radius: 100%;
}

#pixel-board {
  width: auto;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 10px;
}

.selected {
  box-shadow: 0 0 15px burlywood;
}

